@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap');

#content {
    max-width: 1600px;
    margin: 0 auto;
    font-family: "Montserrat", Sans-serif
}
nav a {text-align: center;
       padding: 10px;
       text-transform: uppercase;
    }
#hero-msg h1{text-align: center;}
#hero-msg h4{text-align: center;}
.button-box{text-align: center;}
main section{text-align: center;}

main section img {
    box-sizing: border-box;
}

.home-title{
    margin-top: 10px;
}

#background {
    height: 725px;
    background-color: #396e94;
} 

body {
    background-color: #ffffff;
    margin: 0;
    padding: 0; 
}
header {
    background-color:#0090c1;
    padding: 10px;
}
nav a:hover {
    transition: 1s;
    background-color: #022f40;

}
.book, .join {
    display: inline-block;
    border-radius: 5px;
    background-color: #022f40;
    color: #FFFFFF;
    text-align: center;
    font-size: 15px;
    padding: 10px;
    width: 100px;
    transition: all 0.5s;
    cursor: pointer;
    margin-top: 50px;
}

.book:hover{
    color: #38AECC;
}
 
.join:hover{
    color: #38AECC;
}
.msg{
    color: #ffffff;
    background-color: #396e94;
    line-height: 1.5em;
    padding: 35px;
}
.msg p {
    padding-bottom: 15px; 
}
.icon {
    width: 80px;
    padding-top: 10px;
}
#hero-img {
    width: 100%; 
}

#logo_link {padding-top: 5px;
}   
.logo {
    width: 80px;
    margin: 10px;
}
nav a {
    text-align: center;
    color: #fcfbfb;
    text-decoration: none;
    padding: 14px 35px 17px 35px;
}  
.book  {
    text-align: center;;
    text-decoration: none;
    padding: 15px 15px;
}
.card-img {
    border: 10px solid #000000;
}

.rivers-card, .camping-card, .rapids-card{
    margin: 200px 0;
}

.join {
    text-align: center;
    text-decoration: none;
    padding: 15px 15px;
}
footer{
    background-color: #022f40;
    padding: 25px 50px;
    margin-top: 200px;
}    
footer a {
    text-align: center;
    text-decoration: none;
    color: #ffffff;
}   
footer p {
    font-size: 1em;
    color: #ffffff;
}
footer p a:hover {
    text-decoration: underline;
    color: #38AECC;

} 
footer .social img{
    padding-top: 15px;
}
h2 {
    margin: 0;
}
