@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap');
#content {
    max-width: 1700px;
    margin: 0 auto;
    font-family: "Montserrat", Sans-serif

}  
/*start menu styles*/  
nav {
margin: -80px auto;        
list-style-type: none;
margin-bottom: 0px;
padding-bottom: 20px;
padding-right: 120px;
overflow: hidden;
background-color: #56007c;
}
nav ul {
  list-style: none;
  text-align: center;
}
nav ul li {
  display: inline-block;
}
nav ul li a {
  display: block;
  text-decoration: none;
  color: rgb(255, 255, 255);
}
nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all .5s;
}
nav ul li a:hover {
  color: rgb(255, 255, 255);
}
li {
float: right;
}     
li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
}
nav.stroke ul li a,
nav.fill ul li a {
        position: relative;
    }
nav.stroke ul li a:after,
nav.fill ul li a:after {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      width: 0%;
      content: '.';
      color: transparent;
      background: rgb(255, 255, 255);
      height: 1px;
    }
nav.stroke ul li a:hover:after {
      width: 100%;
    }
nav.fill ul li a {
      transition: all 2s;
    }
nav.fill ul li a:after {
      text-align: left;
      content: '.';
      margin: 0;
      opacity: 0;
    }
nav.fill ul li a:hover {
      color: #fff;
      z-index: 1;
    }
nav.fill ul li a:hover:after {
      z-index: -10;
      animation: fill 1s forwards;
      -webkit-animation: fill 1s forwards;
      -moz-animation: fill 1s forwards;
      opacity: 1;
    }    
.logo {
        margin-bottom: -120px;
        box-shadow: 0px 12px 9px -6px rgba(0,0,0,0.52); 
 }
 /*end menu styles*/  

 /*banner home start*/
#banner-home-grid {
        display: grid;
        grid-template-columns: 60% 40%;
        grid-template-rows: repeat(4, 1fr);
        height: 550px;
        font-family: "Montserrat", Sans-serif;
        position: relative;
        margin-bottom: 30px;
}
#banner-box {
        grid-row: 1/5;
        grid-column: 1/6;
        z-index: -1;
        }  
#banner-home-img { 
        width: 100%;
        height: auto
        }        
#home-msg {
        grid-column: 1/2;
        grid-row: 2/3;
        margin-top: 100px;
        }
.home-title {
        padding-left: 40px;
        color: #56007c;
        font-weight: bold;
        line-height: 1;
        }

.home-subtitle {
        padding-left: 40px;
        padding-right: 250px;
        padding-top: 10px;
        color: #c288d6;
        font-size: 25px;
        line-height: 1;
        }
.button-box {
        border-radius: 29px;
        background-color: #56007c;
        text-align: center;
        font-size: 14px;
        font-weight: 600;
        padding: 14px;
        width: 20%;
        transition: all 0.5s;
        cursor: pointer;
        margin-left: 40px;
        margin-top: 10px;
        }
.button-box:hover{
        background-color:#c288d6;
        }        
.ask{
        color: #FFFFFF;
        text-decoration: none;
        }        
.ask:hover{
        color:#56007c;
        }

 /*banner home end*/
/*main home star*/
.home-grid {
        display: grid;
        width: 100%;
        margin: 0 auto;
        grid-template-columns: 20% 30% 30% 20%;
        grid-template-rows: 60px auto auto auto auto auto; 
        height: 885px;
        font-family: "Montserrat", Sans-serif; 
        margin-bottom: 80px;
        margin-top: 30px
}
.home-title-2{
        grid-column: 1/5;
        grid-row: 1/2;
        color: #56007c;
        align-self: center;
        justify-self: center;
}
.home-paragraph-1{
        grid-column: 2/4;
        grid-row: 2/3;
        color: #56007c;
        text-align: center;
       padding: 20px 40px 5px 40px;
       border-bottom: 2px solid #56007c;
}
.read-more-button{
        margin-top: -20px;
        justify-self: center;
        grid-column: 2/4;
        grid-row: 3/4;
        border-radius: 29px;
        background-color: #56007c;
        text-align: center;
        font-size: 14px;
        font-weight: 600;
        padding: 14px;
        width: 20%;
        transition: all 0.5s;
        cursor: pointer;
        align-self: baseline;
}
.read-more-button:hover{
        background-color:#c288d6;
        
        }
.read{color: #FFFFFF;
        text-decoration: none;
        }             

.home-paragraph-2{
        grid-column: 2/3;
        grid-row: 4/5;
        color: #56007c;
        text-align: justify;
        padding: 20px;

}
.img-home-2 {
        grid-column: 3/4;
        grid-row: 4/6;
        padding-left: 20px;
        
}
.img-home-3{
        grid-column: 2/3;
        grid-row: 5/7;
        padding-left: 20px;
}
.home-paragraph-3{
        grid-column: 3/4;
        grid-row: 6/7;
        color: #56007c;
        text-align: justify;
        padding: 20px;
}
/*main home end*/        
/*footer start*/
.footer-grid {
        display: grid;
        margin: 0 auto;
        grid-template-columns: 15% 10% repeat(2, 15%) repeat(3, 5%) repeat(2, 15%);
        background-color: #56007c;
        color: #fff;
        font-family: "Montserrat", Sans-serif;
        font-size: 13px;
        height: 140px;       
}
.footerbox0{
        grid-column: 2/3;
        align-content: center;
        padding-right: 20px;       
}
.footerbox1 a{
        grid-column: 3/4;
        text-decoration: none;
        line-height: 2;
        align-self: center;
        justify-self: center;
        padding-top: 50px;
        color: rgb(255, 255, 255);

        }
.footerbox2 {
        grid-column: 4/5;
        align-self: center;
        justify-self: center;
        line-height: 2;
        }
.footerbox3{
        grid-column: 5/6;
        align-self: center;
        justify-self: center;
        line-height: 1;
        }
.footerbox4{
        grid-column: 6/7;
        align-self: center;
        justify-self: center;
        }    
.footerbox5{
        grid-column: 7/8;
        align-self: center;
        justify-self: center;
        }
.footerbox6 {
        grid-column: 8/9;
        text-decoration: none;
        align-self: center;
        justify-self: center;
        line-height: 2;
        text-decoration: none;
        }
.footerbox7 {
        grid-column: 5/8;
        align-self: center;
        justify-self: center;
        margin-top: -240px;
        }
/*footer end*/

/*page2 grid start*/
.page2-grid {
        display: grid;
        margin: 50px auto;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        height: 380px;
        grid-template-columns: repeat(14, 1fr);
        grid-template-rows: 20% 10% 30% 30% 20%;
        font-family: "Montserrat", Sans-serif;
        color: #56007c;
        min-width: 1000px;
}
.page2-image1 {
        grid-column: 1/9;
        grid-row: 1/6;
        z-index: -1;
        background-image: url(../images/web_consulting1.png);
        background-size: cover;
        }  
        
.page2-paragraphback {
        grid-column: 8/15;
        grid-row: 2/5;
        background-color: #b7def3;
        clip-path: polygon(14% 0%, 100% 0%, 100% 100%, 14% 100%, 0% 50%);
        padding: 0px 50px 0px 100px;
        text-align: right;
}
.title-paragraph-1a {
        grid-column: 8 /15;
        grid-row: 2/5;
        text-align: right;
        color:#56007c;
        z-index: +1;
}
/*page2 grid1 end*/
/*page2 grid2 start*/
.page2-grid2 {
        display: grid;
        margin: 100px auto;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        height: 380px;
        grid-template-columns: repeat(14, 1fr);
        grid-template-rows: 20% 10% 30% 30% 20%;
        font-family: "Montserrat", Sans-serif;
        color: #56007c;
        min-width: 1000px;
}
.page2-image2 {
        grid-column: 8/15;
        grid-row: 1/6;
        z-index: -1;
        background-image: url(../images/web_consulting2.png);
        background-size: cover;
        }
.page2-paragraphback2 {
        grid-column: 1/9;
        grid-row: 2/5;
        background-color: #b7def3;
        clip-path: polygon(0% 0%, 88% 0%, 100% 50%, 87% 100%, 0% 100%);
        padding: 0px 100px 0px 50px;
        text-align: left;
        }
        .title-paragraph-1b {
        grid-column: 1 /8;
        grid-row: 2/5;
        text-align: left;
        color:#56007c;
        z-index: +1;
        }
/*page2 grid2 end*/
/*page2 grid3 start*/
.page2-grid3 {
        display: grid;
        margin-top: 50px;
        margin-right: auto;
        margin-bottom: 100px;
        margin-left: auto;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        height: 380px;
        grid-template-columns: repeat(14, 1fr);
        grid-template-rows: 20% 10% 30% 30% 20%;
        font-family: "Montserrat", Sans-serif;
        color: #56007c;
        min-width: 1400px;
}
.page2-image3 {
        grid-column: 1/9;
        grid-row: 1/6;
        z-index: -1;
        background-image: url(../images/web_consulting3.png);
        background-size: cover;
        }  
        
.page2-paragraphback3 {
        grid-column: 8/15;
        grid-row: 2/5;
        background-color: #b7def3;
        clip-path: polygon(14% 0%, 100% 0%, 100% 100%, 14% 100%, 0% 50%);
        padding: 0px 50px 0px 100px;
        text-align: right;
}
.title-paragraph-1c {
        grid-column: 8 /15;
        grid-row: 2/5;
        text-align: right;
        color:#56007c;
        z-index: +1;
}
/*page2 grid3 end*/

/*page3 grid1 start*/

 .banner-page3-grid {
        display: grid;
        grid-template-columns: 15% 25% 10% 40% 10%;
        grid-template-rows: 25% 10% 30% 10% 25%;
        height: 550px;
        font-family: "Montserrat", Sans-serif; 
        margin-bottom: 30px;
        background-image: url(../images/banner_background.jpg);
        background-position-y: top;
        background-repeat: no-repeat;
        background-position: center;
 }        
.bannerpage3-paragraphback {
        grid-column: 2/6;
        grid-row: 2/5;
        background: rgb(255,255,255);
        background: linear-gradient(88deg, rgba(255, 255, 255, 0) 1%, rgba(255,255,255,0.9220063025210083) 29%);
}
@keyframes float {
	50% {
		transform: translatey(-3px);
	}
}
.banner2-img{
        grid-column: 2/3;
        height: 550px;
        transform: translatey(0px);
        animation: float 1s ease-in-out infinite;
}
.bannerparagraph{
        margin-top: 50px;
        grid-column: 4/5;
        grid-row: 2/3;
        text-align: left;
        color:#56007c;
        z-index: +1;
        }

/*page3 grid1 end*/


/*page3 grid2 start*/

.page3-grid2 {
        display: grid;
        width: 80%;
        margin: 0 auto;
        grid-template-columns: 10% repeat(3, 25%) 10%;
        grid-template-rows: 10% repeat(2, 5%) 75% 5%;
        height: 756px;
        font-family: "Montserrat", Sans-serif; 
        background-color: #fff;
        margin-bottom: 50px;

 }
 .page3-image2{
        grid-column: 3/4;
        grid-row: 3/5;
        background-image: url(../images/plans-mkm-02.png);
        background-position-y: top;
        background-repeat: no-repeat;
        background-position: center;
        transition: transform 1s;      
 }
 .page3-image2:hover {
        -ms-transform: scale(1.1); /* IE 9 */
        -webkit-transform: scale(1.1); /* Safari 3-8 */
        transform: scale(1.1); 
        }

 .page3-image1{
        grid-column: 2/3;
        grid-row: 4/6;
        background-image: url(../images/plans-mkm-01.png);
        background-position-y: top;
        background-repeat: no-repeat;
        background-position: center;
        transition: transform 1s;
 }
 .page3-image1:hover {
        -ms-transform: scale(1.1); /* IE 9 */
        -webkit-transform: scale(1.1); /* Safari 3-8 */
        transform: scale(1.1); 
}
 .page3-image3{
        grid-column: 4/5;
        grid-row: 4/6;
        background-image: url(../images/plans-mkm-03.png);
        background-position-y: top;
        background-repeat: no-repeat;
        background-position: center;
        transition: transform 1s;
 }
.page3-image3:hover {
        -ms-transform: scale(1.1); /* IE 9 */
        -webkit-transform: scale(1.1); /* Safari 3-8 */
        transform: scale(1.1); 
}

.plans-tittle{
        grid-column: 2/5;
        grid-row: 1/2;
        font-size: 25px;
        color:#56007c;
        text-align: center;
}


/*page3 grid2 end*/

/*page4 grid1 start*/

.banner-page4-grid {
        display: grid;
        grid-template-columns: repeat(2, 10%) 40% 25% 15%;
        grid-template-rows: 25% 10% 30% 10% 25%;
        height: 550px;
        font-family: "Montserrat", Sans-serif; 
        margin-bottom: 30px;
        background-image: url(../images/banner_background.jpg);
        background-position-y: top;
        background-repeat: no-repeat;
        background-position: center;
 }        
.bannerpage4-paragraphback {
        grid-column: 1/5;
        grid-row: 2/5;
        background: rgb(255,255,255);
        background: linear-gradient(270deg, rgba(255, 255, 255, 0) 1%, rgba(255,255,255,0.9220063025210083) 29%);
}
@keyframes float {
	50% {
		transform: translatey(-3px);
	}
}
.banner3-img{
        grid-column: 4/5;
        height: 550px;
        transform: translatey(0px);
        animation: float 2s ease-in-out infinite;
}
.bannerparagraph4{
        margin-top: 50px;
        grid-column: 2/4;
        grid-row: 2/3;
        text-align: right;
        color:#56007c;
        z-index: +1;
        }

/*page4 grid1 end*/


/*page4 grid2 start*/

.page4-grid2 {
        display: grid;
        width:80%;
        margin: 0 auto;
        grid-template-columns: 10% repeat(3, 25%) 10%;
        grid-template-rows: repeat(3, 10%) 60% 10%;
        grid-column-gap: 16px;
        height: 500px;
        font-family: "Montserrat", Sans-serif; 
        background-color: #fff;
        margin-bottom: 50px;
 }
.page4-back2 {
        grid-column: 3/4;
        grid-row: 3/5;
        background: rgb(86,0,124);
        background: linear-gradient(329deg, rgba(86,0,124,1) 63%, rgba(0,0,0,1) 93%);
        border-radius: 30px;   
}
.paragraph-pag4-2 {
        grid-column: 3/4;
        grid-row: 3/5;
        text-align: center;
        padding: 63px;
        color: #fff;
}
.avatar2 {
        grid-column: 3/4;
        grid-row: 1/4;
        margin-inline: auto;
        margin-top: -133px;
        transform: scale(1.1);
}
.page4-back1 {
        grid-column: 2/3;
        grid-row: 4/6;
        background: rgb(86,0,124);
        background: linear-gradient(329deg, rgba(86,0,124,1) 63%, rgba(0,0,0,1) 93%);
        border-radius: 30px;   
}
.paragraph-pag4-1 {
        grid-column: 2/3;
        grid-row: 4/6;
        text-align: center;
        padding: 80px;
        color: #fff;
}
.avatar1 {
        grid-column: 2/3;
        grid-row: 1/4;
        margin-inline: auto;
        margin-top: -82px;
        transform: scale(1.1);
}

.page4-back3 {
        grid-column: 4/5;
        grid-row: 4/6;
        background: rgb(86,0,124);
        background: linear-gradient(329deg, rgba(86,0,124,1) 63%, rgba(0,0,0,1) 93%);
        border-radius: 30px;   
}
.paragraph-pag4-3 {
        grid-column: 4/5;
        grid-row: 4/6;
        text-align: center;
        padding: 62px;
        color: #fff;
}
.avatar3 {
        grid-column: 4/5;
        grid-row: 1/4;
        margin-inline: auto;
        margin-top: -82px;
        transform: scale(1.1);
}

/*page4 grid2 end*/

/*page4 grid3 start*/
.page4-grid3 {
        display: grid;
        width:80%;
        margin: 0 auto;
        grid-template-columns: repeat(2, 30%) repeat(2, 20%);
        grid-template-rows: repeat(2, 1fr);
        height: 500px;
        font-family: "Montserrat", Sans-serif; 
        background-color:#b7def3;
        margin-bottom: 50px;
}
.iframe-map{
        grid-column: 3/5;
        grid-row: 1/3;
        margin: auto;
}
* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }      
.container {
        grid-column: 1/3;
        grid-row: 1/3;
        margin: 0 auto;
        width: 90%;
        padding-left: 40px;
}   
      #contact input[type="text"],
      #contact input[type="email"],
      #contact input[type="tel"],
      #contact input[type="url"],
      #contact textarea,
      #contact button[type="submit"] {
        font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
      }
      
      #contact {
        background: #70bde8;
        padding: 25px;
        margin-top: 20px;
        box-shadow: 0 0 20px 0 rgb(0 0 0 / 20%), 0 5px 5px 0 rgb(0 0 0 / 24%);
      }
      
      #contact h3 {
        display: block;
        font-size: 30px;
        font-weight: 300;
        margin-bottom: 10px;
      }
      
      #contact h4 {
        margin: 5px 0 15px;
        display: block;
        font-size: 13px;
        font-weight: 400;
      }
      
      fieldset {
        border: medium none !important;
        margin: 0 0 10px;
        min-width: 100%;
        padding: 0;
        width: 100%;
      }
      
      #contact input[type="text"],
      #contact input[type="email"],
      #contact input[type="tel"],
      #contact input[type="url"],
      #contact textarea {
        width: 100%;
        border: 1px solid #ccc;
        background: #FFF;
        margin: 0 0 5px;
        padding: 10px;
      }
      
      #contact input[type="text"]:hover,
      #contact input[type="email"]:hover,
      #contact input[type="tel"]:hover,
      #contact input[type="url"]:hover,
      #contact textarea:hover {
        -webkit-transition: border-color 0.3s ease-in-out;
        -moz-transition: border-color 0.3s ease-in-out;
        transition: border-color 0.3s ease-in-out;
        border: 1px solid #aaa;
      }
      
      #contact textarea {
        height: 100px;
        max-width: 100%;
        resize: none;
      }
      
      #contact button[type="submit"] {
        cursor: pointer;
        width: 100%;
        border: none;
        background: #005684;
        color: #FFF;
        margin: 0 0 5px;
        padding: 10px;
        font-size: 15px;
      }
      
      #contact button[type="submit"]:hover {
        background: #00a6ff;
        -webkit-transition:  0.3s ease-in-out;
        -moz-transition: 0.3s ease-in-out;
        transition: background-color 0.3s ease-in-out;
      }
      
      #contact button[type="submit"]:active {
        box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
      }
      
      #contact input:focus,
      #contact textarea:focus {
        outline: 0;
        border: 1px solid #aaa;
      }
      
      ::-webkit-input-placeholder {
        color: #888;
      }
      
      :-moz-placeholder {
        color: #888;
      }
      
      ::-moz-placeholder {
        color: #888;
      }
      
      :-ms-input-placeholder {
        color: #888;
      }

/*page4 grid3 end*/